body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

.select-field-currency {

}

.container {
    display: flex;
}

.form-input {
    flex-grow: 2 !important;
    margin-top: -20px !important;
}

.currencies {
    flex-grow: 1 !important;
}